<div id="projectEdit">
  <form #projectEditForm="ngForm">
    <ng-template #content let-c="close" let-d="dismiss">
      <form class="p-[16px]">
        <h3
          class="text-gray-900 font-semibold text-[18px] mb-[20px] text-center"
        >
          Edit project
        </h3>
        <app-message></app-message>
        <div *ngIf="doing" class="m-auto">
          <h1 class="text-center display-3 mt-5 text-black">
            <i class="fas fa-spinner fa-spin"></i>
          </h1>
        </div>
        <div *ngIf="!doing">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="name"
                class="block mb-2 font-medium text-gray-900 text-[16px]"
                >Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                [(ngModel)]="project.name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Nguyen Van Huy"
                required
              />
            </div>
            <div>
              <label
                for="teamSize"
                class="block mb-2 font-medium text-gray-900 text-[16px]"
                >Team size</label
              >
              <input
                type="number"
                id="teamSize"
                name="teamSize"
                [(ngModel)]="project.teamSize"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder=""
                required
              />
            </div>
            <div>
              <label
                for="budget"
                class="block mb-2 font-medium text-gray-900 text-[16px]"
                >Budget</label
              >
              <input
                type="number"
                id="budget"
                name="budget"
                [(ngModel)]="project.budget"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder=""
                required
              />
            </div>
            <div>
              <label
                for="expense"
                class="block mb-2 font-medium text-gray-900 text-[16px]"
                >Expense</label
              >
              <input
                type="number"
                id="expense"
                name="expense"
                [(ngModel)]="project.expense"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder=""
                required
              />
            </div>
            <div>
              <label
                for="startDate"
                class="block mb-2 font-medium text-gray-900 text-[16px]"
                >Start date</label
              >
              <input
                type="date"
                id="startDate"
                name="startDate"
                [(ngModel)]="project.startDate"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder=""
                required
              />
            </div>
            <div>
              <label
                for="endDate"
                class="block mb-2 font-medium text-gray-900 text-[16px]"
                >End date</label
              >
              <input
                type="date"
                id="endDate"
                name="endDate"
                [(ngModel)]="project.endDate"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder=""
                required
              />
            </div>
          </div>
          <div class="mb-6">
            <label
              for="status"
              class="block mb-2 font-medium text-gray-900 text-[16px]"
              >Status</label
            >
            <select
              id="status"
              name="status"
              [(ngModel)]="project.status"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
              <option>Kickoff</option>
              <option>Developing</option>
              <option>Delivery</option>
              <option>Closed</option>
            </select>
          </div>
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-[14px] w-full sm:w-auto px-5 py-2.5 text-center mr-3"
          (click)="update()"
        >
          Update
        </button>
        <button
          type="submit"
          class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-[14px] w-full sm:w-auto px-5 py-2.5 text-center"
          (click)="c('Close click')"
        >
          Close
        </button>
      </form>
    </ng-template>
    <div
      class="text-blue-500 cursor-pointer w-6 mr-2 transform hover:text-purple-500 hover:scale-110"
      (click)="open(content)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
        />
      </svg>
    </div>
  </form>
</div>
