<div class="h-full flex flex-col items-center justify-center">
  <img
    class="w-[180px] h-[180px] object-cover"
    src="https://pipedream.com/s.v0/app_OrZhL9/logo/orig"
    alt="Logo"
  />
  <h1 class="text-[40px] font-semibold mt-[20px] mb-[10px]">Management</h1>
  <p class="text-[28px] font-medium">
    An application for project management for business
  </p>
  <a
    [routerLink]="['/project-list']"
    class="bg-blue-500 hover:bg-blue-700 hover:no-underline text-white font-semibold py-4 px-10 rounded-full mt-[20px]"
  >
    Get Started
  </a>
</div>
