<div class="flex">
  <div class="flex flex-col items-center justify-center p-12 w-[30%] min-w-max">
    <img
      src="https://pipedream.com/s.v0/app_OrZhL9/logo/orig"
      alt="Logo"
      class="w-24 rounded-md"
    />
    <h1 class="font-semibold text-3xl mt-6 mb-2 text-[#333]">Welcome back</h1>
    <p class="text-[#555] text-2xl mb-10">Please enter your details.</p>

    <app-message class="w-full"></app-message>
    <hr />
    <form
      [formGroup]="loginForm"
      novalidate
      class="flex flex-col items-center gap-4 w-full"
    >
      <div class="w-full">
        <input
          class="text-[#333] w-full text-2xl p-3 border-[1px] border-solid border-[#999] rounded-md"
          type="email"
          formControlName="email"
          name="email"
          id="email"
          placeholder="Enter your email"
        />
        <span
          class="text-sm text-red-400"
          *ngIf="
            !loginForm.controls.email?.valid &&
            (loginForm.controls.email?.dirty ||
              loginForm.controls.email?.touched)
          "
        >
          Email is not valid
        </span>
      </div>
      <div class="w-full">
        <input
          class="text-[#333] w-full text-2xl p-3 border-[1px] border-solid border-[#999] rounded-md"
          type="password"
          formControlName="password"
          name="password"
          id="password"
          placeholder="Enter your password"
        />
        <span
          class="text-sm text-red-400"
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            (loginForm.get('password')?.touched ||
              loginForm.get('password')?.dirty)
          "
        >
          Password is not valid
        </span>
        <span
          class="text-red-600"
          *ngIf="
            loginForm.get('password')?.hasError('minlength') &&
            (loginForm.get('password')?.touched ||
              loginForm.get('password')?.dirty)
          "
          class="text-sm text-red-400"
        >
          Password minimum 6 characters
        </span>
      </div>
      <button
        class="bg-[#333] border-[1px] border-solid border-[#333] text-white w-full p-3 rounded-md text-2xl hover:bg-opacity-90"
        (click)="login()"
      >
        Continue
      </button>
    </form>

    <span class="my-6 text-[#555] text-2xl">OR</span>

    <div class="flex flex-col items-center w-full gap-4">
      <button
        class="d-flex items-center justify-center bg-white border-[1px] border-solid border-[#ccc] text-2xl text-[#333] w-full p-3 rounded-md hover:bg-[rgba(0,0,0,0.05)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 488 512"
          fill="currentColor"
          class="text-red-600"
        >
          <path
            d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
          />
        </svg>
        <span class="ml-3">Continue with Google</span>
      </button>
      <button
        class="d-flex items-center justify-center bg-white border-[1px] border-solid border-[#ccc] text-2xl text-[#333] w-full p-3 rounded-md hover:bg-[rgba(0,0,0,0.05)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
          fill="currentColor"
          class="text-[#385898]"
        >
          <path
            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
          />
        </svg>
        <span class="ml-3">Continue with Facebook</span>
      </button>
      <button
        class="d-flex items-center justify-center bg-white border-[1px] border-solid border-[#ccc] text-2xl text-[#333] w-full p-3 rounded-md hover:bg-[rgba(0,0,0,0.05)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 384 512"
          fill="currentColor"
          class="text-[#555]"
        >
          <path
            d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
          />
        </svg>
        <span class="ml-3">Continue with Apple</span>
      </button>
    </div>

    <p class="text-2xl mt-8 text-[#333]">
      Don't have an account?
      <a class="font-medium text-[#333]" href=""> Sign up </a>
    </p>
  </div>
  <div class="flex-1">
    <img
      class="rounded-tl-[60px] rounded-bl-[60px] object-cover h-screen w-full"
      src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
      alt="Login background"
    />
  </div>
</div>
