<div id="projectAdd">
  <form #projectAddForm="ngForm">
    <ng-template #content let-c="close" let-d="dismiss">
      <form class="p-[16px]">
        <h3
          class="text-gray-900 font-semibold text-[18px] mb-[20px] text-center"
        >
          Add project
        </h3>
        <app-message></app-message>
        <div *ngIf="saving" class="m-auto">
          <h1 class="text-center display-3 mt-5 text-black">
            <i class="fas fa-spinner fa-spin"></i>
          </h1>
        </div>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
          <div>
            <label
              for="name"
              class="block mb-2 font-medium text-gray-900 text-[16px]"
              >Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              [(ngModel)]="project.name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Youtube"
              required
            />
          </div>
          <div>
            <label
              for="teamSize"
              class="block mb-2 font-medium text-gray-900 text-[16px]"
              >Team size</label
            >
            <input
              type="number"
              id="teamSize"
              name="teamSize"
              [(ngModel)]="project.teamSize"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder=""
              required
            />
          </div>
          <div>
            <label
              for="budget"
              class="block mb-2 font-medium text-gray-900 text-[16px]"
              >Budget</label
            >
            <input
              type="number"
              id="budget"
              name="budget"
              [(ngModel)]="project.budget"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder=""
              required
            />
          </div>
          <div>
            <label
              for="expense"
              class="block mb-2 font-medium text-gray-900 text-[16px]"
              >Expense</label
            >
            <input
              type="number"
              id="expense"
              name="expense"
              [(ngModel)]="project.expense"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder=""
              required
            />
          </div>
          <div>
            <label
              for="startDate"
              class="block mb-2 font-medium text-gray-900 text-[16px]"
              >Start date</label
            >
            <input
              type="date"
              id="startDate"
              name="startDate"
              [(ngModel)]="project.startDate"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder=""
              required
            />
          </div>
          <div>
            <label
              for="endDate"
              class="block mb-2 font-medium text-gray-900 text-[16px]"
              >End date</label
            >
            <input
              type="date"
              id="endDate"
              name="endDate"
              [(ngModel)]="project.endDate"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder=""
              required
            />
          </div>
        </div>
        <div class="mb-6">
          <label
            for="status"
            class="block mb-2 font-medium text-gray-900 text-[16px]"
            >Status</label
          >
          <select
            id="status"
            name="status"
            [(ngModel)]="project.status"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-[15px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option>Kickoff</option>
            <option>Developing</option>
            <option>Delivery</option>
            <option>Closed</option>
          </select>
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-[14px] w-full sm:w-auto px-5 py-2.5 text-center mr-3"
          (click)="save()"
        >
          Save
        </button>
        <button
          type="submit"
          class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-[14px] w-full sm:w-auto px-5 py-2.5 text-center"
          (click)="c('Close click')"
        >
          Close
        </button>
      </form>
    </ng-template>
    <button
      class="bg-green-600 hover:bg-green-700 text-white text-center hover:no-underline py-2 px-4 border border-green-700 rounded min-w-[100px] float-right m-[6px] font-semibold"
      (click)="open(content)"
    >
      Add
    </button>
  </form>
</div>
